/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "birdsOfParadise";
  src: url("../policeBirdsOfParadiseCarsPat/birdsOfParadise.ttf");
}
@keyframes crashCarText {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes crashCarBlack {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100vw - 48px));
  }
}
@keyframes crashCarOrange {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes crashCarRed {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes buzzOut {
  10% {
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    transform: translateX(1px) rotate(0);
  }
  100% {
    transform: translateX(-1px) rotate(0);
  }
}
a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  padding-bottom: 30px;
  background: black;
  background: radial-gradient(circle, black 0%, white 0%, black 60%);
  box-shadow: 0px 3px 13px -7px #000000, 0px 2px 1px 1px #e18739;
}
header .porsche {
  background: url("../images/porsche.png") center/cover;
  width: 120px;
  height: 100px;
}
header h1 {
  font-family: "birdsOfParadise", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5rem;
  color: #e18739;
  text-shadow: 2px 1px 1px black;
  margin-top: 50px;
}
@media (min-width: 765px) {
  header h1 {
    font-size: 5rem;
  }
}
@media (min-width: 1000px) {
  header h1 {
    font-size: 7.5rem;
    padding-top: 20px;
  }
}
header .mustang {
  background: url("../images/mustang.png") bottom/cover;
  width: 100px;
  height: 80px;
  margin-top: 20px;
}
@media (max-width: 360px) {
  header .mustang, header .porsche {
    display: none;
  }
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 10px 0 0 0;
  box-shadow: 0px 0px 13px -7px #000000, inset 0px -11px 1px -8px rgba(255, 126, 51, 0.5);
  line-height: 1.4rem;
  height: 135px;
}
.presentation:hover + .crashCar p {
  animation: crashCarText 1s 0.1s ease-in 1 both;
}
.presentation:hover + .crashCar .fa-car-side {
  animation: crashCarBlack 1s ease-in 1 both;
}
.presentation:hover + .crashCar .carColor {
  animation: crashCarOrange 0.1s 1s both;
}
.presentation:hover + .crashCar .carColorRed {
  animation: crashCarRed 1s 1 both;
}
.presentation:hover a {
  animation: buzzOut 0.4s 1s 1 backwards;
}
.presentation .leftWideBand {
  clip-path: polygon(0 15%, 100% 100%, 30% 100%, 0 50%);
  background: #e18739;
  height: 135px;
  width: 30%;
  position: relative;
}
@media (max-width: 600px) {
  .presentation .leftWideBand {
    display: none;
  }
}
.presentation .leftWideBand .leftThinBand {
  clip-path: polygon(0 37%, 43% 100%, 40% 100%, 0 40%);
  background: white;
  height: 135px;
  width: 100%;
  position: absolute;
}
.presentation p {
  text-shadow: 2px 1px 1px #e18739;
  margin: auto;
}
.presentation p .fas, .presentation p .far {
  text-shadow: none;
}
.presentation p a {
  width: max-content;
  margin: auto;
  display: block;
  transform: scale(1);
  transition: transform 0.3s;
}
.presentation p a:hover {
  transform: scale(1.2);
}
.presentation p a:focus {
  transform: scale(1);
}
.presentation .rightWideBand {
  clip-path: polygon(100% 50%, 100% 70%, 70% 100%, 0 100%);
  background: #e18739;
  height: 135px;
  width: 30%;
  position: relative;
}
@media (max-width: 600px) {
  .presentation .rightWideBand {
    display: none;
  }
}
.presentation .rightWideBand .rightThinBand {
  clip-path: polygon(100% 63%, 100% 65%, 64% 100%, 60% 100%);
  background: white;
  height: 135px;
  width: 100%;
  position: absolute;
}

.crashCar {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  position: relative;
  margin: auto;
  background: white;
  background: radial-gradient(circle, white 0%, black 0%, white 60%);
}
.crashCar p {
  font-size: 0.8rem;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 2.5%;
}
.crashCar .fas {
  font-size: 1rem;
}
.crashCar .fa-car-side {
  position: absolute;
  left: 0;
}
.crashCar .carColor {
  color: #e18739;
  position: absolute;
  right: 0;
}
.crashCar .carColorRed {
  color: red;
  opacity: 0;
}

section {
  text-align: center;
}
section .imageBackground {
  background: url("../images/95484828_118968113120667_8879041321868722176_n.jpg") center/cover;
  height: 100vh;
}
section .imageBackground h2 {
  color: white;
  font-size: 2rem;
  padding: 25px 0;
  background: rgba(0, 0, 0, 0.705);
  border-radius: 15px;
  padding: 15px;
  border: 5px solid #e18739;
  margin: 0 5% 20px 5%;
}
section .imageBackground p {
  color: white;
  width: 75%;
  margin: auto;
  background: rgba(0, 0, 0, 0.705);
  border-radius: 15px;
  padding: 15px;
  border: 2.5px solid #e18739;
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
