@import "./layouts/reset";
@import "./base/fonts";
@import "./utils/variables";
@import "./utils/keyframes";
@import "./utils/mixins";

a{
    text-decoration: none;
    color: $secondaryColor;
}
/* *********************** HEADER *********************** */
header{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    padding-bottom: 30px; 
    background: linear-gradient(90deg, $thirdColor 15%, $secondaryColor 50%, $primaryColor 85%);
    border-bottom: 3px solid $secondaryColorLight;
    
    
    
    
    .porsche{
        background: url("../images/porsche.png") center/cover;
        width: 110px;
        height: 90px;
        @media (min-width: 750px) {
            width: 150px;
            height: 120px;
        }
        @media (min-width: 1000px) {
            width: 175px;
            height: 130px;
        }
    }
    h1{
        font-family: $birdsPolicy;
        font-size: 2.5rem;
        color: $primaryColor;
        text-shadow: 2px 1px 1px rgb(255, 255, 255);
        margin-top: 50px;
        @media (min-width: 750px) {
            font-size: 5rem;
        }
        @media (min-width: 1000px) {
            font-size: 7.5rem;
            padding-top: 20px;
        }
    }
    .harley{
        background: url("../images/Harley-removebg-preview.png") bottom/cover;
        width: 105px;
        height: 75px;
        margin-top: 45px;
        @media (min-width: 750px) {
            width: 150px;
            height: 100px;
        }
        @media (min-width: 1000px) {
            width: 190px;
            height: 130px;
        }
    }
    @media  (max-width: 359px) {
        .harley, .porsche{
            display: none;
        }
    }
}
/* *********************** .PRESENTATION **************** */
.presentation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    line-height: 2rem;
    height: 200px;
    font-family: "impactLabelReversed", sans-serif;
    color: $primaryColor;
    border-top: 3px solid $primaryColor;
    &:hover{
        + .crashCar{
            @include crashCarAnimations;
        }
        a, i{
            animation: buzzOut 0.4s  1s 1  backwards;
        }
    }
    .leftWideBand{
        clip-path: polygon(0 15%, 100% 100%, 30% 100%, 0 50%);
        background: $primaryColor;
        height: 100%;
        width: 30%;
        position: relative;
        @media  (max-width: 600px){
            display: none;
        }
        .leftThinBand{
            clip-path: polygon(0 37%, 43% 100%, 40% 100%, 0 40%);
            background: white;
            height: 100%;
            width: 100%;
            position: absolute;
        }
        
    }
    p{
        margin: auto;
        text-transform: uppercase;
        font-weight: 1000;
        font-size: 1.1rem;
        @media (min-width: 750px) {
            font-size: 1.4rem;
            letter-spacing: 2px;
        }
        @media (min-width: 1000px) {
            font-size: 1.6rem;
            letter-spacing: 3px;
        }
        .fas, .far{
            color: $secondaryColor;
            text-shadow: none;
            opacity: 0.8;
        }
        .fa-crosshairs{
            position: relative;
            top: 17px;
        }
        a{
            width: max-content;
            margin: auto;
            display: block;
            transform: scale(1);
            transition: transform 0.3s;
            color: $primaryColor;
            &:hover{
                transform: scale(1.1);
                .fas, .far{
                    opacity: 1;
                }
            }
            &:focus{
                transform: scale(1);
            }
                
            
        }
    }
    .rightWideBand{
        clip-path: polygon(100% 50%, 100% 70%, 70% 100%, 0 100%);
        background: $primaryColor;
        height: 100%;
        width: 30%;
        position: relative;
        @media  (max-width: 600px){
            display: none;
        }
        .rightThinBand{
            clip-path: polygon(100% 63%, 100% 65%, 64% 100%, 60% 100%);
            background: white;
            height: 100%;
            width: 100%;
            position: absolute;
            
            
        }
    }
}
/* ********************** .CRASHCAR ********************** */
.crashCar{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 60%);
    border-bottom: 3px solid $primaryColor;
    border-top: 3px solid $primaryColor;;
    align-items: center;
    p{
        font-size: 1.4rem;
        width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 0 7px 2.5%;
        color: $primaryColor;
        font-family: "impact", sans-serif, serif;
        letter-spacing: 2px;
        @media (max-width: 380px) {
            font-size: 1.3rem;
        }
    }
    .fas{
        font-size: 1rem;
    }
    .fa-car-side{
        position: absolute;
        left: 0;
    }
    .carColor{
        color: $secondaryColor;
        position: absolute;
        right: 0;
    }
    .carColorRed{
        color: $primaryColor;
        opacity: 0;
    }
}
/* ********************* NAV ***************************** */
nav{
    #side-bar{
        position: absolute;
        width: 230px;
        height: 100vh;
        background: $primaryColor;
        left: -300px;   /*Permet de faire disparaitre la side-bar sur la gauche de l'ecran.*/
        transition: .5s ease-out;/*Affiche side-bar en 0.5s (ease-out=lent vers la fin).*/
        z-index: 4;/*La side-bar passe devant tout les élèments.*/
        border: 5px solid $thirdColor;
        @media (max-height: 600px) {
            height: 100vw;
        }
        .toggle-button{
            position: absolute;
            top: 30px;
            left: 310px;/*Place le bouton au bon endroit.*/
            cursor: pointer;
            height: 70px;
            width: 70px;
            @media (min-width: 750px) {
                   width: 90px;
                   height: 90px; 
            }
            @media (min-width: 1000px) {
                width: 110px;
                height: 110px;
            }
            span{/*Il y a 3 <span> qui permettent de créer la forme du bouton.(hamburger)*/
                width: 60px;
                height: 10px;
                border-radius: 10px;
                background: $primaryColor;
                display: block;
                margin-top: 4px;/*Permet de 'decoller' les 3 <span> afin de creer les 3 traits.*/
                transition: 0.5s ease;/*ease=lentement.*/
                border: 5px solid $thirdColor;
                @media (min-width: 750px) {
                    width: 80px;
                    height: 15px;
                    margin-top: 5px;
                    border-radius: 15px;
                }
                @media (min-width: 1000px) {
                    width: 100px;
                    height: 20px;
                    margin-top: 6px;
                    border-radius: 20px;
                }
            }
        }
        li{
            font-size: 1.5rem;
            cursor: pointer;
            padding: 25px;
            text-transform: uppercase;
            text-align: center;
            font-family: "impactLabelReversed", sans-serif;
            font-weight: 1000;
            border: 2px solid $primaryColor;
            transition: all 1s;
            margin-bottom: 10px;
            transform: scale(1);
            &:hover{
                background: $thirdColor;
                border: 2px solid $secondaryColor;
                border-radius: 50%;
                transform: scale(1.05);
                a{
                    color: $secondaryColor;
                }
            }
            a{
                color: $thirdColor;
                transition: all 1s;
            }
        }
        .porscheBleu{
            background: url("../images/porscheBleu-removebg-preview.png") center/cover;
            height: 100px;
            width: 200px;
            margin: auto;
            font-size: 0.5rem;
        }
    }   
    #side-bar.active{
        left: 0;/*Quand la class='active' est activé on annule le 'left: -300px;' ce qui permet d'afficher la side-bar.*/
        .toggle-button{
            top: 2.8rem;
            left: 235px;
            span{
                position: absolute;
            }
            span:nth-child(1){
                transform: rotate(45deg);/*Permet de tourner la barre du haut de 45 degrés quand on active la Sidebar.*/
            }
            span:nth-child(2){
                opacity: 0;/*Permet de faire disparaitre la barre du milieu quand on active la Sidebar.*/
            }
            span:nth-child(3){
                transform: rotate(-45deg);/*Permet de tourner la barre du bas de -45 degrés quand on active la Sidebar.*/
            }
            ~ .content{/*Contenu de la page*/
                opacity: 0.3;/*Sombre le contenu de la page quand la class='active' est activée.*/
            }
        }
    }
}


/* ********************* SECTION ************************* */
section{
    .imageBackground{
        background: url("../images/porscheRougeAvecFond.jpg") center/cover ;
        height: 100vh;
        @media (max-height: 600px) {
            height: 100vw;
        }
    }
}

/* ********************** FOOTER ************************** */
.footer-basic {
    padding:10px 0;
    background-color:#ffffff;
    color:#4b4c4d;
    border-top: 3px solid $primaryColor;
    border-bottom: 3px solid $primaryColor;
    position: relative;
    bottom: 1px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    > p{
        font-family: $birdsPolicy;
        color: $primaryColor;
        text-shadow: 2px 1px 1px $secondaryColor;
        font-size: 2.5rem;
        padding-top: 20px;
        @media (min-width: 750px) {
            font-size: 5rem;
            padding-top: 30px;
        }
        @media (min-width: 1000px) {
            font-size: 7.5rem;
            padding-top: 40px;
        }
    }
    footer{
        margin: 0 2%;
        .social {
            text-align:center;
            transition: transform 0.3s;
            transform: scale(1);
            &:hover{
                transform: scale(1.1);
            }
            a {
                font-size:24px;
                width:40px;
                height:40px;
                line-height:40px;
                display:inline-block;
                text-align:center;
                margin:0 8px;
                color:inherit;
                opacity:0.75;
                &:hover {
                    opacity:0.9;
                }
                .fab{
                    color: #3b5998;
                    font-size: 2rem;
                }
            }
        }
        ul {
            font-family: "impactLabelReversed", sans-serif, serif;
            padding:0;
            list-style:none;
            text-align:center;
            font-size:18px;
            line-height:1.6;
            margin-bottom:0;
            color: $primaryColor;
            font-weight: 1000;
            li {
                padding:0 10px;
                transform: scale(1);
                transition: transform 0.3s;
                &:hover{
                    transform: scale(1.1);
                }
                a {
                    color:inherit;
                    text-decoration:none;
                    opacity:0.8;
                    
                    &:hover {
                        opacity:1;
                        
                    }
                    .far, .fas{
                        color: $secondaryColor;
                        opacity: 0.8;
                    }
                }
            }
            
        }
        
        
        .copyright {
            margin-top:15px;
            text-align:center;
            font-size:13px;
            color:#aaa;
            margin-bottom:0;
        }
    }
    }
    
 

