@import "./layouts/reset";
@import "./base/fonts";
@import "./utils/variables";
@import "./utils/keyframes";
@import "./utils/mixins";


a{
    text-decoration: none;
    color: $secondaryColor;
}
/* *********************** HEADER *********************** */
@import "./layouts/header";
/* *********************** .PRESENTATIONTEXT ************* */
.presentationText{
    border-top: 3px solid $primaryColor;
    padding: 20px 15%;
    position: relative;
    background: url("../images/tole/istockphoto-638414358-612x612.jpg") center/cover;
    min-height: 163px;
    
    .vis{
        clip-path: circle(50% at 50% 50%);
        height: $sizeVis;
        width: $sizeVis;
        background-color: $secondaryColor;
       position: absolute;
       display: flex;
        right: 94%;
       top: 15px;
       transform: rotate(15deg);
       display: flex;
       align-items: center;
       justify-content: center;
       box-shadow: 1px 1px 1px $secondaryColor;
        &__croix{
            position: absolute;
            clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
            background: $thirdColor;
            height: 70%;
            width: 70%;
            
        }
        
    }
    .N2{
        position: absolute;
        right: 5%;
        top: 8px;
        transform: rotate(30deg);
    }
    .N3{
        position: absolute;
        right: 4%;
        top: 88%;
        transform: rotate(45deg);
    }
    .N4{
        position: absolute;
        right: 92%;
        top: 85%;
        transform: rotate(60deg);
    }
    p{
    text-align: center;
    font-family: $impactPolicy;
    color: $primaryColorLight;
    font-weight: 1000;
    font-size: 1.5rem;
    text-shadow: 2px 0 0 $secondaryColor, -2px 0 0 $secondaryColor, 0 2px 0 $secondaryColor, 0 -2px 0 $secondaryColor, 1px 1px $secondaryColor, -1px -1px 0 $secondaryColor, 1px -1px 0 $secondaryColor, -1px 1px 0 $secondaryColor;
    line-height: 1.5;
    letter-spacing: 2px;
    }
}
/* ********************* NAV ***************************** */
@import "./layouts/nav";

/* ********************* SECTION ************************* */
section{
    border-top: 3px solid $primaryColor;
    position: relative;
    .imageBackground{
        background: linear-gradient(90deg, $primaryColorLight 15%, $secondaryColorLight 50%, $thirdColorLight 85%);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0 0px 0;
        position: relative;
        min-height: 740px;
        @media (max-height: 600px) {
            height: 100vw;
        }
        h1{
            color: $primaryColor;
            font-size: 3rem;
            font-family: $impactLabelReversed;
            font-weight: 1000;
            position:absolute;
            right: 10%;
        }
        &__vignettes{
            height: 125px;
            width: 150px;
            margin-bottom: 10px;
            border: 5px solid $primaryColor;
            background: $thirdColor;
            border-radius: 50%;
            position: relative;
            box-shadow: 10px 5px 10px white;
            
            &--picture{
                height: 100%;
            }
            .arriereCasse{
                background: url("../images/mercedes/arriereCasse.png") center/cover;
                
            }
            .avantCasse{
                background: url("../images/mercedes/avantCasse.png") center/cover;
                
            }
            .arriereNeuf{
                background: url("../images/mercedes/arriereNeuf.png") center/cover;
                
            }
            .avantNeuf{
                background: url("../images/mercedes/avantNeuf.png") center/cover;
    
            }
            .coteNeuf{
                background: url("../images/mercedes/coteNeuf.png")center/cover
            }
        }
        
    }
}

/* ********************** FOOTER ************************** */
@import "./layouts/footer";