@font-face {
    font-family: "birdsOfParadise";
    src: url("../polices/policeBirdsOfParadiseCarsPat/birdsOfParadise.ttf");
}

@font-face {
    font-family: "impactLabelReversed";
    src: url("../polices/policeImpactLabel/Impact_Label_Reversed.ttf");
}

@font-face {
    font-family: "impact";
    src: url("../polices/policeImpact/impact.ttf");
}