@font-face {
    font-family: "birdsOfParadise";
    src: url("../policeBirdsOfParadiseCarsPat/birdsOfParadise.ttf");
}

@font-face {
    font-family: "impactLabelReversed";
    src: url("../policeImpactLabel/Impact_Label_Reversed.ttf");
}