@mixin crashCarAnimations {
    p{
        animation: crashCarText $crashCarAnimationTime 0.1s ease-in  1 both;
    }
    .fa-car-side{
        animation: crashCarBlack $crashCarAnimationTime ease-in  1 both;
    }
    .carColor{
        animation: crashCarOrange 0.1s  $crashCarAnimationTime both;
    }
    .carColorRed{
        animation: crashCarRed $crashCarAnimationTime  1  both ;
    }
}

/* ******************** RESPONSIVE ***************** */
$breakpoints: (
    tablette: 700px,
    desktop: 1000px
);

@mixin tablette {
    @media (min-width: map-get($breakpoints, tablette)) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}