

$primaryColor: rgba(225,135,57);
$primaryColorLight: rgba(225,135,57,0.5);
$secondaryColor: rgb(0, 0, 0);
$secondaryColorLight:rgba(0, 0, 0, 0.705);
$thirdColor: rgb(255, 255, 255);

$birdsPolicy: "birdsOfParadise", Verdana, Geneva, Tahoma, sans-serif;

$crashCarAnimationTime: 1s;
