

$primaryColor: rgb(249, 33, 46);
$primaryColorLight: rgba(255, 40, 0, 0.75);
$secondaryColor: rgb(31, 31, 31);
$secondaryColorLight:rgba(31, 31, 31, 0.75);
$thirdColor: rgb(255, 255, 255);
$thirdColorLight: rgb(255, 255, 255, 0.75);

$birdsPolicy: "birdsOfParadise", Verdana, Geneva, Tahoma, sans-serif;

$crashCarAnimationTime: 1s;
