section{
    .imageBackground{
        background: url("../images/porscheRougeAvecFond.jpg") center/cover ;
        min-height: 740px;
        height: 100vh;
        max-height: 1000px;
        @media (max-height: 600px) {
            height: 100vw;
        }
    }
}